.App {
  margin: 10px;
}

.film-list {
  border: 3px solid black;
  margin: 30px;
  background-color: #F1F1F1;
  width: 50%;
}

.film-list > h1 {
  margin-left: 30px;
}

.film {
  margin: 10px;
  font-size: 20px;
}

.film > ul > li > a {
  text-decoration: none;
  text-align: left;
}

.button {
  border: 2px solid black;
  margin: 20px;
  padding: 30px;
  background-color: #A0C4E0;
}

.button > a {
  text-decoration: none;
}

hr {
  width: 90%;
}
